index.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="Embroidr.FileManager">
<xs:element name="files">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="file" maxOccurs="unbounded" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="name" type="xs:string" use="required" />
					<xs:attribute name="path" type="xs:string" use="required" />
					<xs:attribute name="md5" type="xs:string" use="required" />
					<xs:attribute name="svg" type="xs:string" />
					<xs:attribute name="png" type="xs:string" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>		
	</xs:complexType>
</xs:element>
</xs:schema>
